<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Film - KinoXP</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
    <h1>KinoXP</h1>
    <nav>
        <a href="/">Hjem</a>
        <a href="/calendar" class="active">Kalender</a>
        <div id="login-buttons" style="margin-left: auto;">
            <button id="customer-login-btn">Kunde Login</button>
            <button id="staff-login-btn" style="margin-left: 0.5rem;">Medarbejder Login</button>
        </div>
    </nav>
</header>

<div class="main-content">
    <div class="main-content-container">
        <div id="movies-list"></div>
    </div>


    <footer>
        &copy; 2025 KinoXP. Alle rettigheder forbeholdes.
    </footer>

</div>



<script src="/js/movies.js"></script>
</body>
</html>